div{
    border: 1px solid black;
    box-sizing: border-box;
}

.test{
    width: 302px;
    height: 200px;
    background-color: #eee;
}

.float-left{
    width: 50px;
    height: 50px;
    background-color: pink;

    /* 요소를 띄워서 왼쪽으로 흐름을 주어 왼쪽정렬 */
    float:left;
    /* 
       띄어지면서 한줄을 다 차지하려고하던 block 형식의 오른쪽
       margin이 사라졌다. -> 오른쪽에 다른요소가 붙게됨
       즉, 한줄로 요소가 배치됨.
    */
}
.float-right{
    width: 50px;
    height: 50px;
    background-color: yellow;

    float: right;

    /* 오른쪽으로 먼저 작성된 요소가 차곡 차곡 쌓리기때문에 출력순서가 반대로 보임*/

}
.clear{
/*  현재 요소부터 겹쳐지는 float상태를 해제 */
/*
   clear의 방향성
     - float는 left/right가 나눠져 있는데 저장된 float흐름과 같은 방향으로
       해제해야 겹침 문제가 해결된다.

       clear : right;
*/

    /* float : left, right를 모두 해체*/
    clear:both;
}