div{
    border: 1px solid black;
    box-sizing: border-box;
}

.container-1{
    border:2px dashed red;
    position: relative;

    /*
       내부에 작성되는 요소에
       상대적인 위치(top/bottom/left/right)를 지정할 수 있게됨.
    */
}

.first{
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.second{
    width: 200px;
    height: 200px;
    background-color: green;

    position: absolute;
    /* 요소 기존 배치순서를 무시할 수 있다.
       + 상위요소가 relative인 요소 내부에
       아무위치나 배치할 수 있음.
    */

    top: 50px; /* 위에서 얼마만큼 떨어지겠다 */
    left: 50px; /* 왼쪽에서 얼마만큼 떨어지겠다. */
}

.third{
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;

    top: 100px;
    left: 100px;
}

/* 요소 정가운대 배치하기 */
.container-2{
    width: 300px;
    height: 300px;
    position: relative; /* 내부 요소 상대위치 지정*/
}

/* 요소 가운데 정렬 */
#center{
    width: 50px;
    height: 50px;
    background-color: pink;

    /*
      relative 내부 요소 중
      position이 absolute인 요소에
      4가지방향을 활용
    */

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* fixed */
.fixed-area {
    width: 120px;

    text-align: center; /*  문자열 가운데 정렬 */

    position: fixed;
    /*
       fixed 요소는 화면 기준으로 배치됨
       다른 요소와 겹쳐질 수 있고, 별도로 화면을 차지하지 않음
    */

    bottom: 50px;
    right: 50px;
}