/* :only-child */
#test1 > :only-child{
    background-color: steelblue;
}

/* :only-of-type */
#test2 > :only-of-type{
    background-color: crimson;
}

/* :empty */
#test3 > p:empty{
    height: 30px;
    background-color: lime;
}

/* 여러 선택자 동시 선택 */
#test4-1,#test4-2,#test4-3{
    background-color: yellow;
    border: 3px solid black;
}

/* 특정 요소 내부에 있는 특정 클래스만 선택 */
#test5-1 .c5{
    /* #test5-1의 후손 중 클래스명이 c5인 요소 선택 */
    background-color: aquamarine;
}

/* #test5-2의 자식중 클래스가 c5인 요소중 li만 선택 */
#test5-2 > li.c5{
    background-color: antiquewhite;
}

/* 클래스가 여러 개인 요소만 선택 */
.test6{
    background-color: red;
}